body{
	text-align: center;
	background-image: url("micke1.jpg");
	background-color: #b1d4d4;
	margin:0;
}
h1{
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 60px;
	background-color: #d4b1b1;
}
.buttons {
	border-radius: 20px;
    background-color: black;
    border: none;
    color: white;
    padding: 40px 60px;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
}
